<div class='country'>
  <h1>
    {{this.country | titlecase}}
    <img class='flag' src={{this.flag}} width="5%" height="2%">
  </h1>
</div>

<div id="stats" class="row">
  <div class="col">
    <h1 class="confirmed">{{this.confirmed | number}}</h1>
    <span matBadge="+{{this.todayCases | number}}" matBadgeSize="small" matBadgeOverlap="false" matBadgeColor="accent">Confirmed</span>
  </div>
  <div class="col">
    <h1 class="recovered">{{this.recovered | number}}</h1>
    <span matBadge="+{{this.todayRecovered | number}}" matBadgeSize="small" matBadgeOverlap="false" matBadgeColor="secondary">Recovered</span>
  </div>
  <div class="col">
    <h1 class="deaths">{{this.deaths | number}}</h1>
    <span matBadge="+{{this.todayDeaths | number}}" matBadgeSize="small" matBadgeOverlap="false" matBadgeColor="warn">Deaths</span>
  </div>
</div>
