<div class='country'>
  <h1>
    {{this.country | titlecase}}
    <img class='flag' src={{this.flag}} width="5%" height="2%">
  </h1>
</div>

<div id="stats" class="row">
  <div class="col">
    <mat-card>
      <mat-card-title class="confirmed">{{this.confirmed | number}}</mat-card-title>
      <mat-card-subtitle>+{{this.todayCases | number}}</mat-card-subtitle>
      <span>Confirmed</span>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-title class="recovered">{{this.recovered | number}}</mat-card-title>
      <mat-card-subtitle>+{{this.todayRecovered | number}}</mat-card-subtitle>
      <span>Recovered</span>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-title class="deaths">{{this.deaths | number}}</mat-card-title>
      <mat-card-subtitle>+{{this.todayDeaths | number}}</mat-card-subtitle>
      <span>Deaths</span>
    </mat-card>
  </div>
</div>
