<div class='country'>
  <h1>
    {{this.country | titlecase}}
    <img class='flag' src={{this.flag}} width="5%" height="2%">
  </h1>
</div>

<div id="stats" class="row">
  <div class="col">
    <h1 class="confirmed">{{this.confirmed | number}}</h1>
    <span>Confirmed</span>
  </div>
  <div class="col">
    <h1 class="recovered">{{this.recovered | number}}</h1>
    <span>Recovered</span>
  </div>
  <div class="col">
    <h1 class="deaths">{{this.deaths | number}}</h1>
    <span>Deaths</span>
  </div>
</div>
